/*ball rolling*/
.ball-rolling .icon-box {
  margin-right: -10px;
  margin-bottom: 30px;
  min-height: 413px;
  position: relative;
  background: #fff;
  padding: 40px;
}

.ball-rolling .icon-box .icon {
  float: left;
  font-size: 61px;
}

.ball-rolling .icon-box .icon img {
  width: 1em;
  display: inline-block;
  height: auto;
}

.ball-rolling .icon-box .content {
  overflow: hidden;
  padding-left: 25px;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
}

.ball-rolling .icon-box .content p {
  line-height: 24px;
}

.ball-rolling h4 {
  font-size: 20px;
  margin-top: -6px;
  margin-bottom: 12px;
  font-weight: 300;
  line-height: 30px;
  min-height: 90px;
}

.feature .btn-blue {
  color: #011b3a;
  font-size: 13px;
}

.feature .btn-blue i {
  margin-left: 0.5rem;
  font-size: 16px;
}

.btn-blue .arrow {
  margin-left: 0.5rem;
  font-size: 16px;
}

.ball-rolling .step {
  position: absolute;
  bottom: -14px;
  right: -5px;
  z-index: 1;
  font-size: 120px;
  font-weight: 900;
  color: #f8f8f8;
  line-height: 1;
}

.ball-rolling .desc {
  min-height: 168px;
}

.fees ul {
  list-style: none;
  margin-bottom: 0;
}

.fees-list {
  text-align: left;
  margin-bottom: 30px;
}
