.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.body-font {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/*home*/
.btn {
  border-radius: 0;
}
.btn-blue {
  background-color: #00aaff;
  border: 2px solid #00aaff;
  min-width: 160px;
  display: inline-block;
  color: #fff;
  line-height: 46px;
  padding: 0 24px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.btn-blue:hover,
.btn-blue:active {
  color: #fff;
  background-color: #0062cc;
  border-color: #0062cc;
}
.masthead h1 {
  font-weight: 400;
}
.feature {
  position: relative;
}
.feature .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.feature h2 {
  margin-bottom: 34px;
  color: #011b3a;
}
.feature.bg-dark h2,
.feature.bg-dark p {
  color: #fff;
}
p {
  margin-bottom: 30px;
  line-height: 30px;
  color: #595959;
}
.seperator {
  border-bottom: 2px solid #00aaff;
  margin-bottom: 41px;
  width: 60px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
}
.bg-dark {
  color: #fff;
}
.icon-item {
  padding: 40px;
}
.icon-box {
  float: left;
}
.icon-box img {
  width: 61px;
}
.icon-box-content {
  padding-left: 25px;
  position: relative;
}
.advantages {
  background-image: url('/img/children-working-together.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section-overlay {
  position: absolute;
  background-color: rgba(1, 27, 58, 0.8);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.home-testimonial {
  padding-top: 2em;
}
