.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.body-font {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/*masthead*/
header.masthead {
  position: relative;
  background-color: #343a40;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
header.masthead .overlay {
  position: absolute;
  background-color: rgba(1, 27, 58, 0.4);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}
header.masthead h1 {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
header.masthead .contact-me {
  margin-bottom: 1em;
}
header.masthead .contact-me a {
  color: #fff;
}
header.masthead p {
  color: #fff;
}
.intro-para {
  overflow: hidden;
  position: relative;
}
.intro-para ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.intro-para li {
  float: left;
  position: relative;
  margin-bottom: 30px;
}
.notvis {
  visibility: hidden;
}
.quote-author {
  font-weight: bold;
}
.smaller {
  font-size: 0.8em;
}
.contact-me {
  position: relative;
}
@media (min-width: 768px) {
  header.masthead {
    padding-top: 9rem;
    padding-bottom: 3rem;
  }
  header.masthead h1 {
    font-size: 1.8rem;
  }
}
