/*testimonials*/
.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.testimonials .testimonial-item {
  max-width: 18rem;
}
.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}
.testimonials-wrapper p {
  font-weight: 300!important;
}
.testimonials-wrapper.fh {
  height: 280px;
  overflow: hidden;
}
.testimonials-wrapper.fh .slick-slide {
  display: none;
}
