html, body {
    font-size: 20px;
}
body {
  @include body-font;
  color: #595959;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

h4 {
    font-size: 1.2rem;
}
h2 {
    font-size: 1.8rem;
}
